*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
}
.loading{
    width:100%;
    height: 100vh;
    position:fixed;
    background: #fff url("../load-1110_256.gif") no-repeat center;
    z-index: 99999999;
    display: none;
    
}



/* heading*/
.headingpart1{
    width:20%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
   font-family: 'Sacramento', cursive;
   font-size: 3.125rem;
}

.heading2part1{
    width: 20%;
    text-align: center;
}
h4{
    text-align: center;
}
.workheading1{
    font-size: 200px;
    text-align: center;
}




/*Paraggraph */
.paragraphpart1{
    width:20%;
    margin:auto;
    padding:35px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 1.5625rem;
   
}
.workpara1{
   font-size: 50px;
text-align: center;
font-family: 'Sacramento', cursive;
padding-top: 250px;
padding-bottom: 200px;
}

/*image */
.image1{
    width:65%;
    position: relative;
    left: 20%;
    padding-top: 50px;

}
.image2{
    width: 10%;
}
.image3{
    width: 13%;
}
.image4{
    display:inline-block;
    position :relative;
    width: 25px;
}
.image5{
    display:inline-block;
    position :relative;
    width: 25px;
    margin-left: 10px;
}
.image6{
    display:inline-block;
    position :relative;
    width: 25px;
    padding-top: 50px;
    margin-left: 10px;
}
.image7{
    width: 200px;
    margin-left: 0px;
}


.workpic1{
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.workpic2{
    width: 100px;
    position: absolute;
    top: 200px;
    right: 200px;
}
.workpic3{
    width: 200px;
}
.workpic4{
    width: 1000px;
    height: 700px;
}
.workpic5{
    width: 1000px;
    height: 700px;
}
.workpic6{
    width: 1000px;
    height: 700px;
}
.workpic7{
    width: 500px;
    height: 300px;
}
.workpic8{
    width: 500px;
    height:300px;
}

/* containers*/
.top-container2{
    text-align: center;
}
.middle-container2{
    text-align: center;
}
.bottom-container2{
    margin: auto;
}
.-container3{
text-align: center;

}
.top-container3{
    text-align: center;
}
.middle-container3{
    text-align: center;
}
.bottom-container3{
    margin: auto;
}
.workbody1{
    background-color: #DDF7E3;
    font-family: 'Sacramento', cursive;
   
}
.workbody2{
    padding-top: 200px;
}

.worktopcontainer1{
   
    text-align: center;
}
.workmiddlecontainer1{
    text-align: center;
    line-height: 3;
}
.workbody3{
    background-color: #EEEEEE;
   
    height: 600px;
}
.workbody4{
    width: 1000px;
    position: absolute;
    top: 1250px;
    left: 500px;
    font-size: 25px;
    font-family: sans-serif;
    text-align: left;
    color: black;
}
.workbody5{
background-color: #FF0303;
height: 600px;
}
.workbody6{
    height: 600px;
    background-color: #37306B;
}
.workbody7{
    background-color: #F7C04A;
}
.workbody8{
    background-color: #002B5B;
  
}


/* Div */
.navpart1{
    text-align: center;
}
.navpart2{
    margin-top: 200px;
    text-align: center;
    width: 100%;
}






.bodypart2{
    
    width: 75%;
    height: 100%; 
    padding-top: 50px ;
    margin: auto;
}
.bodypart3{
    width: 75%;
    height: 100%; 
    padding-top: 100px ;
    margin: auto;
    line-height: 2;
}



.background1{
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.background1::before{
    content: '';
    background-image: url(images.png/hemendra-ahuja-cUAJLjUjLqI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    ;
}
nav{
    background-color: #DDF7E3;
    height: 100px;
    
}

.logopic1{
    height: 120px;
    width: 120px;
    padding: 4px;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 0px;
}
nav label{
font-size: 30px;

color: #5D9C59;
cursor: pointer;

}
nav ul{
    float: right;
}
nav li{
    
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;

}
nav li a{
    padding: 10px;
    color: #5D9C59;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
   
}
.navpart1{
   
        background-color: #DDF7E3;

        
}



.contact{
    right: 250px;
    top: 20px;
}
.about{
    right: 450px;
    top: 20px;
}
.work{
    right: 360px;
    top: 20px;
}


nav li  a:hover{
    color: #40513B;
}
.bodypart1{
    background-color:#DDF7E3 ;
}
hr{
   margin: 100px auto 100px auto;
    border: none;
    border-top: 5px dotted #F0EEED;
    color:#fff;
    background-color: #fff;
    height: 1px;
    width: 3%;
    
}




.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;

}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
   

}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
.BACKGROUND{
    padding-top: 50px;
}
.BACKGROUND1{
   text-align: center;
}
.linkstyle1{
    text-decoration: none;
    color: black;
}
.linkstyle2{
    text-decoration: none;
    color: white;
}
.linkstyle3{
    text-decoration: none;
    color: white;
}